{% extends 'base.html' %}

{% block body %}
<div class="bg">{% include 'navbar.html' %}</div>
<br>
<div class="columns is-mobile has-text-centered">
    <div class="column is-half is-offset-one-quarter">

        <div class="card">
            <div class="card-content">
                <form method="post" action="" role="form">
                    {% csrf_token %}
                    <legend class="border-bottom mb-3 title is-3">Login</legend>
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <label class="label is-medium">Username</label>
                            <input class="input" type="" placeholder="Username">
                            {{ form.username }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                    </div>

                    <div class="field">
                        <p class="control has-icons-left">
                            <label class="label is-medium">Password</label>
                            <input class="input" type="password" placeholder="Password">
                            {{ form.password }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>

                    {% if form.errors %}
                    <div class="row">
                        <div class="col s12">
                            <span style="color: red; font-weight: bold;">Your username or password did not match.</span>
                        </div>
                    </div>
                    {% endif %}

                    <div class="field">
                        <p class="control">
                            <button type="submit" value="login" class="button is-success">
                                Login
                            </button>
                        </p>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                    <p><strong>OR</strong></p>
                    <a href="{% url 'register' %}" class="button is-info is-rounded" style="text-decoration: none;">Create Account</a>
                </form>
            </div>

        </div>

    </div>
</div>
{% endblock %}