{% extends 'base.html' %}


{% block body %}
{% include 'navbar.html' %}

<div class="columns is-mobile has-text-centered">
    <div class="column is-half is-offset-one-quarter">

        <div class="card">
            <div class="card-content">
                <form method="post" action="" role="form">
                    {% csrf_token %}
                    <legend class="border-bottom mb-3 title is-3">Create Account</legend>
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <label class="label is-medium">Username</label>
                            {{ form.username }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <label class="label is-medium">Email</label>
                            {{ form.email }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <label class="label is-medium">Password</label>
                            {{ form.password }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <label class="label is-medium">Confirm Password</label>
                            {{ form.confirm_password }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
                        </div>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button type="submit" name="action" class="button is-success">
                                Register
                            </button>
                        </p>
                    </div>
                    <p><strong>Already have an account?</strong></p>
                    <a href="{% url 'login' %}" class="button is-info is-rounded" style="text-decoration: none;">Sign In</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}