<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Picstack</title>
</head>
<body>
    <!-- Navbar section -->
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="/">Picstack</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="#"><i class="bi bi-house-door-fill"></i> Home</a>
                        <a class="nav-item nav-link" href="#"><i class="bi bi-compass"></i> Explore</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="#"><i class="bi bi-bell-fill"></i> Notifications</a>
                        <a class="nav-item nav-link" href="#"><i class="bi bi-inbox-fill"></i> Inbox</a>
                        <a class="nav-item nav-link" href="#"><i class="bi bi-person-circle"></i> Profile</a>
                        <a class="nav-item nav-link" href="#"><i class="bi bi-gear-fill"></i> Settings</a>
                        <a class="nav-item nav-link" href="#">Logout</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- end of navbar -->
</body>
</html>